<div class="about row">

    <div class="col-md-8 markdown-body">

        <h2>关于我</h2>

        <p>你好哇~很高兴你想了解我~</p>

        <p>我叫董峰池，但我更习惯别人叫我峰池。目前就职于字节跳动，是一名推荐算法工程师，所在团队负责今日头条推荐算法工作。</p>

        <p>我是一名非科班出身的码农，本科学的是工商管理。16年考研时才开始接触代码，且基本全靠自学。研究生读的是应用统计，和机器学习算法稍微沾点边。现在能有这份工作，深知自己还需要补充很多知识，也在不断的努力学习中。关于我的更多经历，可以参看我的这篇博客<a href="{{ site.base_url}}/life/2020/04/18/birthday.html" target="_blank">写在26岁</a></p>。

        <p>我会在这里分享一些自己在学习计算机科学中的一些经验，感兴趣的点包括分布式相关的架构和机器学习算法，也会在这里分享一些工作中的想法和总结。以及，自己无事时也会读一些闲书，也会在这里分享一些自己的读书笔记。</p>

        <p>
            <strong>个人公众号：峰池(ID：FengchiCrazy)。</strong> 微信公众号目前是我的主阵地，会发布一些我比较新的想法。同时博客也会沉淀整理一些个人认为的精品的内容，毕竟微信公众号发布出去的内容不太方便进行增删修改。欢迎关注我的微信公众号，我在那边会出没的更多一些。
        </p>
        
        <img src="/assets/images/wechat.jpeg" alt="wechat follow">

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>