<div class="about row">

    <div class="col-md-8">

        <h2>关于峰池</h2>

        <p>你好哇~很高兴你想了解我~</p>

        <p>我叫董峰池，但我更习惯别人叫我峰池。目前就职于字节跳动，是一名推荐算法工程师，所在团队负责今日头条推荐算法工作。</p>

        <p>我是一名非科班出身的码农，本科学的是工商管理。16年考研时才开始接触代码，且基本全靠自学。研究生读的是应用统计，和机器学习算法稍微沾点边。现在能有这份工作，深知自己还需要补充很多知识，也在不断的努力学习中。我会在这里分享一些自己在学习计算机科学中的一些经验，感兴趣的点包括分布式相关的架构和机器学习算法，也会在这里分享一些工作中的想法和总结。以及，自己无事时也会读一些闲书，也会在这里分享一些自己的读书笔记。</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
